.box{
  height: 400px;
  background: rgb(12, 24, 93);
}

.text{
  text-align: center;
  padding-top: 150px;
  color: aliceblue;
}

.text2{
  margin-top: 50px;
}

.box1{
  height: 125px;
  border-radius: 15px;
  background: blueviolet;
}

.font{
  text-align: center;
}

.text3{
  margin-top: 70px;
}

.button{
  background: blueviolet;
  color: black;
  border-radius: 15px;
  padding: 0px 30px 0px 30px;
  margin-top: 20px;
}

.box2{
  height: 50px;
}